* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

.logo {
    margin-top: 7%;
    height: 10vh;
}

.logo:hover {
    scale: 1.1;
    transition: all 250ms ease;
}

.nav-bar {
    background-color: #99ddcc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    /* Thank you Dennise, for the box shadow code! */
    ;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-size: xx-large;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    /* Thank you Dennise, for the box shadow code! */
}

.nav-item:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    transition: all 250ms ease;
}

.bottom-nav-bar {
    background-color: #99ddcc;
    position: sticky;
    bottom: 0%;
    width: auto;
    box-shadow: -8px -8px 8px 8px rgba(0, 0, 0, 0.2);
    /* Thank you Dennise, for the box shadow code! */
}

.footer-text {
    text-align: center;
    font-family: inherit;
}

.email-link:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    transition: all 250ms ease;
}