* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}

html{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    margin: 0;
    background-color: grey;
    overflow: auto;
}

.logo {
    margin-top: 7%;
    height: 10vh;
}

.logo:hover {
    scale: 1.1;
    transition: all 250ms ease;
}

.nav-bar {
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.nav-item {
    color:grey;
    text-decoration: none;
    font-size:x-large;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.nav-item:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    transition: all 250ms ease;
}

.bottom-nav-bar {
    background-color: black;
    position: fixed;
    bottom: 0%;
    width: 100%;
    box-shadow: -8px -8px 8px 8px rgba(0, 0, 0, 0.2);
}

.footer-text {
    text-align: center;
    font-family: inherit;
    color: grey;
}

.phone-link:hover, .email-link:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    transition: all 250ms ease;
}