body {
    height: 100vh;
    margin: 0;
}

.nav-bar {
    background-color: grey;
    display: flex;
    justify-content: center;
    gap: 5%
}
.nav-items{
    text-decoration: none;
    color: inherit;
    font-family: 'Nunito', sans-serif;
}